# Supabase
.env

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Vite
.DS_Store
/dist
/dist-ssr
*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dev_server.log
