*.apk
*.aab
*.ap_
*.dex
*.class
.gradle/
build/
bin/
gen/
out/
local.properties
*.jks
*.keystore
.externalNativeBuild
.cxx/
captures/
*.iml
.idea/
capacitor-cordova-android-plugins/
app/src/main/assets/public/
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml
google-services.json
app/google-services.json
